---
layout: default
title: Categories
---
<div class="archives">
    <h4 class="page-title">Posts With Categories.&nbsp;&nbsp;&nbsp;<span>({{ site.posts | size }} posts.)</span></h4>

    {% for category in site.categories %}
    <a href="#{{ category[0] }}" class="cate_pointer" style="border:1px solid #ccc;padding:3px;margin:2px;border-radius:3px;-webkit-border-radius:3px">{{ category[0] | join: "/" }}</a>
    {% endfor %}

    {% for category in site.categories %}
    <div id="{{ category[0] }}" style="display:none;border:1px solid #ccc;width:938px;padding:10px" class="cate_block">
        <h3>{{ category[0] }}</h3>
        {% for post in category[1] %}
        <article class="article-box">
            <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>

            <p class="date">
                <time pubdate="{{ post.date | date: '%b %d, %Y' }}">{{ post.date | date_to_string }}</time>
            </p>
        </article>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<script src="http://libs.baidu.com/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript">
    $('.cate_block:first').show();
    $('.cate_pointer').click(function() {
        var _target = $(this).attr('href');
        $('.cate_block').hide();
        $(_target).show();
    });
</script>