---
layout: default
title: Tags
---
<div class="archives">
    <h4 class="page-title">All posts is here.&nbsp;&nbsp;&nbsp;<span>({{ site.posts | size }} posts.)</span></h4>

    {% for tag in site.tags %}
    <a href="#{{ tag[0] }}" class="label">{{ tag[0] | join: "/" }}</a>
    {% endfor %}

    {% for tag in site.tags %}
    <div id="{{ tag[0] }}" style="display:none;border:1px solid #ccc;width:938px;padding:10px;margin-top:10px;border-radius:3px;-webkit-border-radius:3px" class="cate_block">
        <h3>{{ tag[0] }}</h3>
        {% for post in tag[1] %}
        <article class="article-box">
            <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>

            <p class="date">
                <time pubdate="{{ post.date | date: '%b %d, %Y' }}">{{ post.date | date_to_string }}</time>
            </p>
        </article>
        {% endfor %}
    </div>
    {% endfor %}

</div>