<aside class="clearfix">
    <h3>I'm Here</h3>

    <div style="padding-top: 10px">
        <a href="https://github.com/tidezyc" target="_blank">
            <img src="/images/github.png" width="45" height="45"/>
        </a>
        <a href="https://plus.google.com/108728819882751588648" target="_blank">
            <img src="/images/google.png" width="45" height="45"/>
        </a>
        <a href="http://weibo.com/tidezyc" target="_blank">
            <img src="/images/weibo.png" width="45" height="45"/>
        </a>
        <a href="/rss.xml" target="_blank">
            <img src="/images/rss.png" width="45" height="45"/>
        </a>
    </div>
</aside>

